# Compiled source #
build/*
*.com
dist/*
*.egg-info/*
*.class
*.dll
*.exe
*.o
*.pdf
*.pyc
*.so

# Ipython Files #
notebooks/.ipynb_checkpoints/*

# Logs and databases #
*.log
*.sql
*.sqlite

# OS generate files #
.DS_Store
.DS_store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
# Profile files #
*.coverage
*.profile

# Project Specific #
example

# PyCharm files #
.idea/*

# pytest files #
.cache/*

# Raw Data #
data/*

# Sphinx files #
docs/_build/*
docs/_static/*
docs/_templates/*
docs/Makefile
